<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#">
                    <i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENU</li>
            <li><a href="/index"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-list-alt"></i> <span>Cadastros</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/empresa"><i class="fa fa-industry"></i> Empresa</a></li>
                    <li><a href="/funcionario"><i class="fa fa-male"></i> Funcionário</a></li>
                    <li><a href="/cliente"><i class="fa fa-user-plus"></i> Cliente</a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-barcode"></i> <span>Produtos</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/categoria"><i class="fa fa-reorder"></i> Categoria</a></li>
                            <li><a href="/produto"><i class="fa fa-tags"></i> Produto</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-gears"></i> <span>Auxiliares</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-folder-o"></i> <span> Vendas</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/caixa"><i class="fa fa-fax"></i> Caixa</a></li>
                                    <li><a href="/mesa"><i class="fa fa-coffee"></i> Mesa</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-folder-o"></i> <span> Financeiro</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/disponivel"><i class="fa  fa-thumb-tack"></i> Disponível</a></li>
                                    <li><a href="/condicaoPagamento"><i class="fa fa-money"></i> Condição Pagamento</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>            
            <li class="header">MÓDULOS</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-list-alt"></i> <span>PDV</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/pdv"><i class="fa fa-desktop"></i> Vendas</a></li>
                </ul>
            </li>
            <li class="header">SEGURANÇA</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-list-alt"></i> <span>Segurança</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/grupo"><i class="fa fa-users"></i> Grupo</a></li>
                    <li><a href="/usuario"><i class="fa fa-user"></i> Usuário</a></li>
                    <li><a href="/permissao"><i class="fa fa-unlock"></i> Permissão</a></li>
                </ul>
            </li>
                  
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>